.headerAppBar {
    background-color: #2874f0;
    height: 55px;
}

.header-logo {
    margin-left: 12%;
    line-height: 0;
    cursor: pointer;
}

.header-logo-details {
    font-size: 10px !important;
    font-style: italic;
}